.textarea {
    padding: 0.75rem;
    border: 0.0625rem solid var(--border-color);
    border-radius: 0.25rem;
    min-height: 6rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: "Times New Roman", Times, serif;
    color: #2b2c2c;
    font-size: 1rem;
}

.textarea:focus {
    outline: none;
    border-color: var(--grey-border-color);
    box-shadow: 0 0 0 0.125rem var(--default-box-shadow);
}

.textarea:disabled {
    background-color: var(--primary-background-color);
    color: var(--grey-border-color);
    cursor: not-allowed;
}

.textarea.resizable {
    resize: both;
}

.textarea.not-resizable {
    resize: none;
}

.textarea.small {
    font-size: 1rem;
}

.textarea.medium {
    font-size: 1.1rem;
}

.textarea.large {
    font-size: 1.2rem;
}
