.posts-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#f5f7fa 0%, #c3cfe2 100%);
    width: 100%;
    min-height: 100vh;
}

.posts-page-header {
    display: inline-block;
    font-size: 2.25rem;
    font-weight: 550;
    padding: 0.25rem;
    margin: 0.75rem 0 0.3rem 0;
    border: 0.075rem solid #ccc;
    background-color: #fff;
    border-radius: 0.5rem;
    max-width: 25rem;
    color: #2c3e50;
    width: 100%;
    text-align: center;
    cursor: default;
    transition: 0.3s transform;
}

.posts-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 0.3rem;
}

.page-list-redactor {
    display: flex;
    order: 0;
    gap: 0.725rem;
}

.posts-page-list-container {
    order: 1;
    flex: 1;
}
