.error-alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    background-color: var(--error-background-color);
    border: 1px solid var(--error-border-color);
    color: var(--grey-border-color);
}
