.dropdown-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}

.select-option {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0.25rem;
    text-overflow: ellipsis;
    border: 0.0625rem solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
}
.select-option:focus {
    outline: none;
    border-color: #959aa0;
}

.select-option:hover {
    background-color: #f5f5f5;
}

.select-option:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 0.7;
}
.select-option.selected {
    background-color: rgb(228, 248, 250);
    color: rgb(31, 116, 165);
}

.select-option.selected:hover {
    background-color: rgb(200, 240, 245);
    box-shadow: 0 0 8px rgba(126, 243, 243, 0.7);
}

.select-option.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.95rem;
}

.select-option.medium {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.select-option.large {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
}
