.posts-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-more-container {
    margin-bottom: 0.5rem;
}

.end-of-list {
    text-align: center;
    padding: 1.5rem;
    color: var(--secondary-text-color);
}

.empty-list-message {
    padding: 0.5rem;
    color: #333333;
    margin-bottom: 0.5rem;
    background-color: var(--light-background-color);
    border: 0.075rem solid #999;

    border-radius: 0.5rem;
    cursor: default;
}
