.comment-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    border: 0.075rem solid var(--border-color);
    border-radius: 0.15rem;
    background-color: var(--primary-background-color);
    box-shadow: 0 0.3rem 0.25rem var(--default-box-shadow);
    font-family: "Times New Roman", Times, serif;
    width: 42.5rem;
    transition: transform 0.2s ease;
}

.comment-container:hover {
    transform: translateY(-0.08rem);
    box-shadow: 0 0.3rem 0.25rem var(--dark-box-shadow);
}

.comment-author {
    margin: 0.625rem 0 0.625rem 0.625rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-color);
}

.comment-name {
    margin: 0 0 0 0.625rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: var(--text-color);
}

.comment-body {
    margin: 0 0.625rem 0 0.625rem;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--text-color);
}
